.Card {
  background-color: lightblue;
  border: solid rgba(0, 0, 0, 0.11) 1px;
  border-radius: 10px;
  box-shadow: 0 0 8px grey;
  width: 400px;
  height: 400px;
  margin: 20px;
  color: rgba(0, 0, 0, 0.644)
}

.text {
  margin: 25px;
}

.image {
  margin: 50px;
}
